MACHINE ??= "raspberrypi4-64"
DISTRO ?= "poky"
PACKAGE_CLASSES ?= "package_ipk"

DL_DIR ?= "${TOPDIR}/../downloads"
SSTATE_DIR ?= "${TOPDIR}/../sstate-cache"

BB_FETCH_RETRIES ?= "3"
BB_FETCH_TIMEOUT ?= "60"

IMAGE_INSTALL:append = " iotistica-agent"
VIRTUAL-RUNTIME_init_manager = "systemd"
DISTRO_FEATURES:append = " systemd virtualization"
DISTRO_FEATURES_BACKFILL_CONSIDERED = "sysvinit"

EXTRA_IMAGE_FEATURES:append = " package-management ssh-server-openssh"
